# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
AddCommand.log
AddCommand.log.1
AddCommand.log.2
LogInCommand.log.1
LogInCommand.log
LogInCommand.log.lck
AddCommand.log.3
data/duke.txt
AddCommand.log.lck
LogInCommand.log.2
duke.txt
